<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
    </head>
    <body>
        <main>
            <h1 class='pageTitle'>Travel Planner</h1>
            <section id="tripContainer">
            </section>
            <section class=form>
                <form action="">
                    <div id="locationContainer"></div>
                        <label for="inputLocation">My trip to:</label>
                        <input class="textInput" id="inputLocation" type="text" name="input" value="" placeholder="Ex: New-York">
                    </div>
                    <div>
                        <label for="inputCountry">Country:</label>
                        <input class="textInput" id="inputCountry" type="text" name="input" value="" placeholder="Ex: USA">
                    </div>
                    <div>
                        <label for="inputDate">Departing:</label>
                        <input class="textInput" type="date" id="inputDate" name="input">
                    </div>
                    <div class="inputButtons">
                        <input class="btn saveBtn pulse" id ="mainSaveBtn" type="submit"  value="save trip" onclick="return Client.createTrip(event)" onsubmit="return client.createTrp(event)">
                        <input class="btn removeBtn" id ="mainRemoveBtn"type="submit" value="remove all" onclick="return Client.removeAllTrips()">
                    </div>
                </form>
            </section>
        </main>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>