body
    font-family: Tahoma, Geneva, sans-serif

h1
    font-size: 80px
    margin: 20px

section
    width: 100vw
    margin-left: calc(50% - 50vw)
    margin-bottom: 3px

.btn
    border: 3px
    padding: 5px 15px 5px 15px
    margin-right: 5px
    font-size: 20px

.saveBtn
    border: solid black
    background-color: white

    &:hover
       background-color: black
       color: white

.removeBtn
    background-color: transparent
    border: solid white

    &:hover
       border: solid black
       background-color: black
       color: white

.inputButtons
    display: flex
    margin-top: 20px
    margin-bottom: 20px
    width: 30%