$input-font-size: 30px

.form
    display: flex
    align-items: center
    flex-direction: column
    min-height: 30vh
    background-color: rgba(229, 227, 227, 1)
    font-size: $input-font-size
    font-weight: bold

.textInput
    color: black
    border: none
    outline: none
    background: transparent
    line-height: $input-font-size
    font-size: $input-font-size
    font-weight: bold

::placeholder 
    color: white


#locationContainer
    margin-top: 60px



