$input-font-size: 30px

.form
    display: flex
    align-items: center
    flex-direction: column
    min-height: 30vh
    background-color: rgba(229, 227, 227, 1)
    font-size: $input-font-size
    font-weight: bold

.textInput
    color: black
    border: none
    outline: none
    background: transparent
    line-height: $input-font-size
    font-size: $input-font-size
    font-weight: bold

::placeholder 
    color: white

.inputButtons
    display: flex
    margin-top: 20px
    width: 30%

#locationContainer
    margin-top: 60px

.saveBtn
    border: solid black
    background-color: white

    &:hover
       background-color: black
       color: white

.removeBtn
    background-color: transparent
    border: solid white

    &:hover
       border: solid black
       background-color: black
       color: white

