.description
    display: flex
    flex-direction: column
    justify-content: 
    


.desTile
    margin: 5px
    font-size: 30px
    font-weight: bold

.trip
    display: grid
    grid-template-columns: 4fr 5fr
    gap: 20px
    min-height: 30vh
    margin-bottom: 3px
    background-color: rgba(255, 238, 238, 1)

.picture
    display: flex
    justify-content: center
    overflow: hidden
    margin: 20px
    margin-right: 0
    height: 80%

.description
    margin: 10px
